body {
    font-family: sans-serif;
}
header {
    background-color: aqua;
}
.pon {
    border-radius: 10px;
    text-decoration: none;
    border: 10px;
}
.nipon {
    color:orange;
}
footer p{
    background-color: limegreen;
}

nav a {
  font-size: 20px;  
  color:white;
  text-decoration: none;
  border: 3px solid navy;
  background-color: navy;
  border-radius: 10px;
  
}
.rob {
    background-color:white ;
    color: royalblue;
}
.ux {
    background-color: brown;
    border-radius: 10px;
}
.fredy {
    color: blue;
}
