body {
    font-family: cursive;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
main {
    background-color:burlywood;
}
footer {
    background-color:chocolate;
}
a {
    font-size: 35px;
    text-decoration: none;
    color: coral;
    margin-left: 75px;
}
