h1,h2 {
    text-align: center;
}
body {
    background-color: aquamarine;
}
p {
    font-size: 30px;
}
img {
    width: 600px;
    margin-left: 120px;
}
a {
    font-size: 30px;
    text-align: center;
    color: black;
    font-family:Arial Black;
}
